{% extends "admin_extra_buttons/action_page.html" %}{% load admin_list admin_urls extra_buttons i18n static %}
{% block breadcrumbs-active %}&rsaquo; <a href=".">Test Image</a> {% endblock %}

{% block action-content %}
    {% if image_src %}
        <table style="width:100%">
            <tr>
                <td style="width: 80%">
                    <table style="width:100%">
                        <tr>
                            <th>Config</th>
                            <td>{{ infos.config }}</td>
                        </tr>
                        {% if searched_text %}
                        <tr>
                            <th>Target</th>
                            <td>{{ searched_text }}</td>
                        </tr>
                        <tr>
                            <th>Match Mode</th>
                            <td>{{ form.cleaned_data.mode }}</td>
                        </tr>
                            {% endif %}
                    </table>
                </td>
                <td style="text-align: right;">
                    <img src="{{ image_src }}" alt="" style="max-width: 500px;">
                </td>
            </tr>
        </table>
        <table>
        <tr>
            <th>Loader</th>
            <th>Time</th>
            {% if searched_text %}
                <th>Angle</th>
                <th>Match</th>
                <th>Findings</th>
            {% endif %}
            <th>Text</th>
        </tr>
        {% for result in results %}
            <tr>
                <td>{{ result.loader }}</td>
                <td>{{ result.time.human }}</td>
                {% if searched_text %}
                    <td>{{ result.angle }}</td>
                    <td>{{ result.found }}</td>
                    <td>{{ result.match }}</td>
                {% endif %}
                <td>
                    {% if result.error %}
                        {{ result.error }}
                    {% else %}
                        <textarea readonly>{{ result.text }}</textarea>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <form method="post" action="." enctype="multipart/form-data" id="scan-form">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Submit">
        </form>
    {% endif %}
{% endblock action-content %}
